In [ ]:
班級: 財金三甲
姓名: 呂姍俞
學號: A105230207

# A.regression
# from sklearn.tree import DecisionTreeRegressor
# DecisionTreeRegressor()
# 39168.72710691969

# B.Classification
# voting_clf = VotingClassifier(
#   estimators = [('lr', log_clf), ('rf', rnd_clf), ('svc', svm_clf)],
#   voting='hard',
#   n_jobs = 2)
# 0.9953972868217055

In [1]:
import pandas as pd
import numpy as np

In [2]:
housing = pd.read_csv("housing.csv")
housing.head(10)

,alti,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

In [3]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20642 entries, 0 to 20641
Data columns (total 10 columns):
alti                  20642 non-null object
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(8), object(2)
memory usage: 1.6+ MB

In [4]:
housing[housing.isnull().any(axis=1)].head(5)

,alti,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
290,-122.16,37.77,47.0,1256.0,NaN,570.0,218.0,4.3750,161900.0,NEAR BAY
341,-122.17,37.75,38.0,992.0,NaN,732.0,259.0,1.6196,85100.0,NEAR BAY
538,-122.28,37.78,29.0,5154.0,NaN,3741.0,1273.0,2.5762,173400.0,NEAR BAY
563,-122.24,37.75,45.0,891.0,NaN,384.0,146.0,4.9489,247100.0,NEAR BAY
696,-122.1,37.69,41.0,746.0,NaN,387.0,161.0,3.9063,178400.0,NEAR BAY

In [5]:
housing[housing.isnull().any(axis=1)].tail(5)

,alti,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20372,-118.88,34.17,15.0,4260.0,NaN,1701.0,669.0,5.1033,410700.0,&lt;1H OCEAN
20460,-118.75,34.29,17.0,5512.0,NaN,2734.0,814.0,6.6073,258100.0,&lt;1H OCEAN
20484,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0,&lt;1H OCEAN
20640,</pre></body></html>Ztext/plainUUTF-8_Lhttps:...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20641,%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
housing = housing.dropna(subset=["latitude"])
housing = housing.drop("total_bedrooms", axis=1)
housing

,alti,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,1551.0,714.0,3.6912,261100.0,NEAR BAY
10,-122.26,37.85,52.0,2202.0,910.0,402.0,3.2031,281500.0,NEAR BAY
11,-122.26,37.85,52.0,3503.0,1504.0,734.0,3.2705,241800.0,NEAR BAY
12,-122.26,37.85,52.0,2491.0,1098.0,468.0,3.0750,213500.0,NEAR BAY
13,-122.26,37.84,52.0,696.0,345.0,174.0,2.6736,191300.0,NEAR BAY
14,-122.26,37.85,52.0,2643.0,1212.0,620.0,1.9167,159200.0,NEAR BAY
15,-122.26,37.85,50.0,1120.0,697.0,264.0,2.1250,140000.0,NEAR BAY
16,-122.27,37.85,52.0,1966.0,793.0,331.0,2.7750,152500.0,NEAR BAY
17,-122.27,37.85,52.0,1228.0,648.0,303.0,2.1202,155500.0,NEAR BAY
18,-122.26,37.84,50.0,2239.0,990.0,419.0,1.9911,158700.0,NEAR BAY
19,-122.27,37.84,52.0,1503.0,690.0,275.0,2.6033,162900.0,NEAR BAY
20,-122.27,37.85,40.0,751.0,409.0,166.0,1.3578,147500.0,NEAR BAY
21,-122.27,37.85,42.0,1639.0,929.0,366.0,1.7135,159800.0,NEAR BAY
22,-122.27,37.84,52.0,2436.0,1015.0,478.0,1.7250,113900.0,NEAR BAY
23,-122.27,37.84,52.0,1688.0,853.0,325.0,2.1806,99700.0,NEAR BAY
24,-122.27,37.84,52.0,2224.0,1006.0,422.0,2.6000,132600.0,NEAR BAY
25,-122.28,37.85,41.0,535.0,317.0,119.0,2.4038,107500.0,NEAR BAY
26,-122.28,37.85,49.0,1130.0,607.0,239.0,2.4597,93800.0,NEAR BAY
27,-122.28,37.85,52.0,1898.0,1102.0,397.0,1.8080,105500.0,NEAR BAY
28,-122.28,37.84,50.0,2082.0,1131.0,473.0,1.6424,108900.0,NEAR BAY
29,-122.28,37.84,52.0,729.0,395.0,155.0,1.6875,132000.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...
20610,-121.56,39.10,28.0,2130.0,1195.0,439.0,1.3631,45500.0,INLAND
20611,-121.55,39.10,27.0,1783.0,1163.0,409.0,1.2857,47000.0,INLAND
20612,-121.56,39.08,26.0,1377.0,761.0,267.0,1.4934,48300.0,INLAND
20613,-121.55,39.09,31.0,1728.0,1167.0,384.0,1.4958,53400.0,INLAND
20614,-121.54,39.08,26.0,2276.0,1455.0,474.0,2.4695,58000.0,INLAND
20615,-121.54,39.08,23.0,1076.0,724.0,197.0,2.3598,57500.0,INLAND
20616,-121.53,39.08,15.0,1810.0,1157.0,375.0,2.0469,55100.0,INLAND
20617,-121.53,39.06,20.0,561.0,308.0,114.0,3.3021,70800.0,INLAND
20618,-121.55,39.06,25.0,1332.0,726.0,226.0,2.2500,63400.0,INLAND
20619,-121.56,39.01,22.0,1891.0,1023.0,296.0,2.7303,99100.0,INLAND
20620,-121.48,39.05,40.0,198.0,151.0,48.0,4.5625,100000.0,INLAND
20621,-121.47,39.01,37.0,1244.0,484.0,157.0,2.3661,77500.0,INLAND
20622,-121.44,39.00,20.0,755.0,457.0,157.0,2.4167,67000.0,INLAND
20623,-121.37,39.03,32.0,1158.0,598.0,227.0,2.8235,65500.0,INLAND
20624,-121.41,39.04,16.0,1698.0,731.0,291.0,3.0739,87200.0,INLAND
20625,-121.52,39.12,37.0,102.0,29.0,14.0,4.1250,72000.0,INLAND
20626,-121.43,39.18,36.0,1124.0,504.0,171.0,2.1667,93800.0,INLAND
20627,-121.32,39.13,5.0,358.0,169.0,59.0,3.0000,162500.0,INLAND
20628,-121.48,39.10,19.0,2043.0,1018.0,390.0,2.5952,92400.0,INLAND
20629,-121.39,39.12,28.0,10035.0,6912.0,1818.0,2.0943,108300.0,INLAND
20630,-121.32,39.29,11.0,2640.0,1257.0,445.0,3.5673,112000.0,INLAND
20631,-121.4,39.33,15.0,2655.0,1200.0,432.0,3.5179,107200.0,INLAND
20632,-121.45,39.26,15.0,2319.0,1047.0,385.0,3.1250,115600.0,INLAND
20633,-121.53,39.19,27.0,2080.0,1082.0,382.0,2.5495,98300.0,INLAND
20634,-121.56,39.27,28.0,2332.0,1041.0,344.0,3.7125,116800.0,INLAND
20635,-121.09,39.48,25.0,1665.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,1387.0,530.0,2.3886,89400.0,INLAND

In [7]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [8]:
housing_cat = housing["ocean_proximity"]
housing_cat_encoded = encoder.fit_transform(housing_cat)
housing_cat_encoded

array([3, 3, 3, ..., 1, 1, 1])

In [9]:
type(housing_cat_encoded)

numpy.ndarray

In [10]:
housing_cat_encoded.shape

(20640,)

In [11]:
pd.DataFrame(housing_cat_encoded)

       0
0      3
1      3
2      3
3      3
4      3
5      3
6      3
7      3
8      3
9      3
10     3
11     3
12     3
13     3
14     3
15     3
16     3
17     3
18     3
19     3
20     3
21     3
22     3
23     3
24     3
25     3
26     3
27     3
28     3
29     3
...   ..
20610  1
20611  1
20612  1
20613  1
20614  1
20615  1
20616  1
20617  1
20618  1
20619  1
20620  1
20621  1
20622  1
20623  1
20624  1
20625  1
20626  1
20627  1
20628  1
20629  1
20630  1
20631  1
20632  1
20633  1
20634  1
20635  1
20636  1
20637  1
20638  1
20639  1

[20640 rows x 1 columns]

In [12]:
housing_cat_encoded.reshape(-1, 1)

array([[3],
       [3],
       [3],
       ...,
       [1],
       [1],
       [1]])

In [13]:
housing_cat_encoded.reshape(-1, 1).shape

(20640, 1)

In [14]:
pd.DataFrame(housing_cat_encoded.reshape(-1, 1))

       0
0      3
1      3
2      3
3      3
4      3
5      3
6      3
7      3
8      3
9      3
10     3
11     3
12     3
13     3
14     3
15     3
16     3
17     3
18     3
19     3
20     3
21     3
22     3
23     3
24     3
25     3
26     3
27     3
28     3
29     3
...   ..
20610  1
20611  1
20612  1
20613  1
20614  1
20615  1
20616  1
20617  1
20618  1
20619  1
20620  1
20621  1
20622  1
20623  1
20624  1
20625  1
20626  1
20627  1
20628  1
20629  1
20630  1
20631  1
20632  1
20633  1
20634  1
20635  1
20636  1
20637  1
20638  1
20639  1

[20640 rows x 1 columns]

In [15]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(categories='auto')
housing_cat_1hot = encoder.fit_transform(housing_cat_encoded.reshape(-1,1))
housing_cat_1hot

<20640x5 sparse matrix of type '<class 'numpy.float64'>'
	with 20640 stored elements in Compressed Sparse Row format>

In [16]:
housing_cat_1hot.toarray()

array([[0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       ...,
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [17]:
pd.DataFrame(housing_cat_1hot.toarray())

         0    1    2    3    4
0      0.0  0.0  0.0  1.0  0.0
1      0.0  0.0  0.0  1.0  0.0
2      0.0  0.0  0.0  1.0  0.0
3      0.0  0.0  0.0  1.0  0.0
4      0.0  0.0  0.0  1.0  0.0
5      0.0  0.0  0.0  1.0  0.0
6      0.0  0.0  0.0  1.0  0.0
7      0.0  0.0  0.0  1.0  0.0
8      0.0  0.0  0.0  1.0  0.0
9      0.0  0.0  0.0  1.0  0.0
10     0.0  0.0  0.0  1.0  0.0
11     0.0  0.0  0.0  1.0  0.0
12     0.0  0.0  0.0  1.0  0.0
13     0.0  0.0  0.0  1.0  0.0
14     0.0  0.0  0.0  1.0  0.0
15     0.0  0.0  0.0  1.0  0.0
16     0.0  0.0  0.0  1.0  0.0
17     0.0  0.0  0.0  1.0  0.0
18     0.0  0.0  0.0  1.0  0.0
19     0.0  0.0  0.0  1.0  0.0
20     0.0  0.0  0.0  1.0  0.0
21     0.0  0.0  0.0  1.0  0.0
22     0.0  0.0  0.0  1.0  0.0
23     0.0  0.0  0.0  1.0  0.0
24     0.0  0.0  0.0  1.0  0.0
25     0.0  0.0  0.0  1.0  0.0
26     0.0  0.0  0.0  1.0  0.0
27     0.0  0.0  0.0  1.0  0.0
28     0.0  0.0  0.0  1.0  0.0
29     0.0  0.0  0.0  1.0  0.0
...    ...  ...  ...  ...  ...
20610  0.0  1.0  0.0  0.0  0.0
20611  0.0  1.0  0.0  0.0  0.0
20612  0.0  1.0  0.0  0.0  0.0
20613  0.0  1.0  0.0  0.0  0.0
20614  0.0  1.0  0.0  0.0  0.0
20615  0.0  1.0  0.0  0.0  0.0
20616  0.0  1.0  0.0  0.0  0.0
20617  0.0  1.0  0.0  0.0  0.0
20618  0.0  1.0  0.0  0.0  0.0
20619  0.0  1.0  0.0  0.0  0.0
20620  0.0  1.0  0.0  0.0  0.0
20621  0.0  1.0  0.0  0.0  0.0
20622  0.0  1.0  0.0  0.0  0.0
20623  0.0  1.0  0.0  0.0  0.0
20624  0.0  1.0  0.0  0.0  0.0
20625  0.0  1.0  0.0  0.0  0.0
20626  0.0  1.0  0.0  0.0  0.0
20627  0.0  1.0  0.0  0.0  0.0
20628  0.0  1.0  0.0  0.0  0.0
20629  0.0  1.0  0.0  0.0  0.0
20630  0.0  1.0  0.0  0.0  0.0
20631  0.0  1.0  0.0  0.0  0.0
20632  0.0  1.0  0.0  0.0  0.0
20633  0.0  1.0  0.0  0.0  0.0
20634  0.0  1.0  0.0  0.0  0.0
20635  0.0  1.0  0.0  0.0  0.0
20636  0.0  1.0  0.0  0.0  0.0
20637  0.0  1.0  0.0  0.0  0.0
20638  0.0  1.0  0.0  0.0  0.0
20639  0.0  1.0  0.0  0.0  0.0

[20640 rows x 5 columns]

In [18]:
housing.head()

,alti,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [19]:
pd.DataFrame(housing_cat_1hot.toarray()).iloc[:, 1:].head()

     1    2    3    4
0  0.0  0.0  1.0  0.0
1  0.0  0.0  1.0  0.0
2  0.0  0.0  1.0  0.0
3  0.0  0.0  1.0  0.0
4  0.0  0.0  1.0  0.0

In [20]:
housing_final = pd.concat([housing, pd.DataFrame(housing_cat_1hot.toarray()).iloc[:, 1:]], axis=1)
housing_final.head()

,alti,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity,1,2,3,4
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,352100.0,NEAR BAY,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,341300.0,NEAR BAY,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,342200.0,NEAR BAY,0.0,0.0,1.0,0.0

In [21]:
X = housing_final.drop("median_house_value", axis=1).drop("ocean_proximity", axis=1)
X.head()

,alti,latitude,housing_median_age,total_rooms,population,households,median_income,1,2,3,4
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,0.0,0.0,1.0,0.0

In [22]:
y = housing_final[["median_house_value"]]
y.head()

   median_house_value
0            452600.0
1            358500.0
2            352100.0
3            341300.0
4            342200.0

In [ ]:
# Regressiom

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [25]:
# P177
from sklearn.tree import DecisionTreeRegressor

In [26]:
tree_reg = DecisionTreeRegressor(max_depth = 13.8)

In [27]:
tree_reg.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=13.8, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [28]:
from sklearn.metrics import mean_squared_error

housing_predictions = tree_reg.predict(X_train)
lin_mse = mean_squared_error(y_train, housing_predictions)
lin_rmse = np.sqrt(lin_mse)
print(lin_rmse)

from sklearn.metrics import mean_absolute_error
lin_mae = mean_absolute_error(y_train, housing_predictions)
print(lin_mae)

34865.212127507984
21075.194877191658

In [29]:
from sklearn.metrics import mean_squared_error

housing_predictions = tree_reg.predict(X_test)
lin_mse = mean_squared_error(y_test, housing_predictions)
lin_rmse = np.sqrt(lin_mse)
print(lin_rmse)

from sklearn.metrics import mean_absolute_error
lin_mae = mean_absolute_error(y_test, housing_predictions)
print(lin_mae)

62584.63736366185
39168.72710691969

In [30]:
# Classification

In [31]:
import copy

In [32]:
housing_classify = copy.deepcopy(housing_final)
housing_classify.head(10)

,alti,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity,1,2,3,4
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,352100.0,NEAR BAY,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,341300.0,NEAR BAY,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,342200.0,NEAR BAY,0.0,0.0,1.0,0.0
5,-122.25,37.85,52.0,919.0,413.0,193.0,4.0368,269700.0,NEAR BAY,0.0,0.0,1.0,0.0
6,-122.25,37.84,52.0,2535.0,1094.0,514.0,3.6591,299200.0,NEAR BAY,0.0,0.0,1.0,0.0
7,-122.25,37.84,52.0,3104.0,1157.0,647.0,3.1200,241400.0,NEAR BAY,0.0,0.0,1.0,0.0
8,-122.26,37.84,42.0,2555.0,1206.0,595.0,2.0804,226700.0,NEAR BAY,0.0,0.0,1.0,0.0
9,-122.25,37.84,52.0,3549.0,1551.0,714.0,3.6912,261100.0,NEAR BAY,0.0,0.0,1.0,0.0

In [33]:
housing_classify["median_house_value"].median()

179700.0

In [34]:
housing_classify['median_classify'] = housing_classify["median_house_value"]> housing_classify["median_house_value"].median()
housing_classify['median_classify'].head(10)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: median_classify, dtype: bool

In [35]:
housing_classify['median_classify'] = housing_classify['median_classify'].astype(int)
housing_classify['median_classify'].head(10)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: median_classify, dtype: int64

In [36]:
X = housing_classify.drop("median_house_value", axis=1).drop("ocean_proximity", axis=1).drop("median_classify", axis=1)

In [37]:
X.head()

,alti,latitude,housing_median_age,total_rooms,population,households,median_income,1,2,3,4
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,0.0,0.0,1.0,0.0

In [38]:
y = housing_classify[["median_classify"]]
y.head()

   median_classify
0                1
1                1
2                1
3                1
4                1

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, 
    y, 
    test_size = 0.2, 
    random_state = 0)

In [52]:
# P186
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [53]:
log_clf = LogisticRegression()
rnd_clf = RandomForestClassifier()
svm_clf = SVC()

In [54]:
voting_clf = VotingClassifier(
    estimators = [('lr', log_clf), ('rf', rnd_clf), ('svc', svm_clf)],
    voting='hard',
    n_jobs = 2)
voting_clf.fit(X,y)

/anaconda3/envs/Fin/lib/python3.6/site-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/envs/Fin/lib/python3.6/site-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

VotingClassifier(estimators=[('lr', LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)), ('rf', RandomFo...f', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False))],
         flatten_transform=None, n_jobs=2, voting='hard', weights=None)

In [55]:
# train performance
y_pred = voting_clf.predict(X_train)
n_correct = sum(y_pred == y_train.as_matrix().ravel())
print(n_correct / len(y_pred))
# test performance
y_pred = voting_clf.predict(X_test)
n_correct = sum(y_pred == y_test.as_matrix().ravel())
print(n_correct / len(y_pred))

/anaconda3/envs/Fin/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

0.9940043604651163
0.9953972868217055

/anaconda3/envs/Fin/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  import sys